<footer class="footer" id="footer">
    <div class="footer__logo">
        <a class="logo"><img src="../../assets/blixt_logo.png" /></a>
    </div>
    <div class="footer__links">
        <div class="row-60">
            <ul class="footer__links__list">
                <li class="link-item"><a class="link">O nama</a></li>
                <li class="link-item"><a class="link">Usluge</a></li>
                <li class="link-item"><a class="link">Hitne intervencije</a></li>
                <li class="link-item"><a class="link">Cenovnik</a></li>
                <li class="link-item"><a class="link">Kontakt</a></li>
            </ul>
            <div class="footer__links__vat">
                <p>Golubačka 2, 11414 Velika Ivanča</p>
                <br>
                <span>Telefon</span>
                <p>060/506-76-82</p>
                <br>
                <span>Email</span>
                <p>blixtradovanovic@gmail.com</p>
            </div>
        </div>
        <div class="row-40">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i></a>
            <a href="mailto: blixtradovanovic@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
    </div>

</footer>