<div class="navigation-wrapper">
  <nav class="navigation">
    <div class="container navigation-nav">
      <a class="logo"><img src="../../assets/blixt_logo.png" /></a>
      <ul class="links" [ngClass]="menuOpened ? '' : 'closed-links'">
        <li class="links-item"><a class="links-a">O Nama</a></li>
        <li class="links-item"><a class="links-a">Usluge</a></li>
        <li class="links-item"><a class="links-a">Hitne Intervencije</a></li>
        <li class="links-item"><a class="links-a">Cenovnik</a></li>
        <li class="links-item"><a class="links-a">Kontakt</a></li>
      </ul>
      <div
        class="burger-menu"
        (click)="toggleMenu()"
        [ngClass]="menuOpened ? 'open' : ''"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
  <ng-content></ng-content>
</div>
