<section class="what-we-do">
    <h3 class="heading-tertiary mb-20">VRŠIMO UGRADNJU I SERVIS</h3>
    <app-item-full [side]="'right'">
        <div class="item-half text-half">
            <h3 class="heading-what-we-do">Sistema tehnicke zaštite</h3>
            <p class="item-description">Vršimo ugradnju nadzornih kamera, alarma, interfona kao i kontrolu pristupa.</p>
            <p class="item-description">Za bezbednost objekta bitno je ugraditi sve komponente koje taj objekat čine sigurnijim.</p>
        </div>
        <div class="item-half image-half">
            <img src="./../../../assets/img/PngItem_49031.png" alt="Item image" class="item-img"/>
        </div>
    </app-item-full>
    <app-item-full [side]="'left'">
        <div class="item-half image-half larger">
            <img src="./../../../assets/img/led-panel.png" alt="Item image" class="item-img"/>
        </div>
        <div class="item-half text-half">
            <h3 class="heading-what-we-do">Elektricnih uredjaja i kućne galanterije</h3>
            <p class="item-description">Vršimo ugradnju svih vrsta električnih uredjaja i kućne galanterije</p>
            <p class="item-description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero </p>
        </div>
    </app-item-full>
    <app-item-full [side]="'right'">
        <div class="item-half text-half">
            <h3 class="heading-what-we-do">Sistema tehnicke zaštite</h3>
            <p class="item-description">Vršimo ugradnju nadzornih kamera, alarma, interfona kao i kontrolu pristupa</p>
            <p class="item-description">Za bezbednost objekta bitno je ugraditi sve komponente koje taj objekat čine sigurnijim.</p>
        </div>
        <div class="item-half image-half larger">
            <img src="../../../assets/img/cables.png" alt="Item image" class="item-img"/>
        </div>
    </app-item-full>

</section>