
@import '../styles/variables';

@mixin section-padding{
    padding: 15rem 0;
}
@mixin  vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin  horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin  absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.mb{
    &-20{
        margin-bottom: 25rem !important;
    }
}
.container{
    width: 100%;
    max-width:  $mainWidth;
    margin: 0 auto;
    padding: 0 !important;
}