@import '../../../styles/helpers';
@import '../../../styles/variables';
.why-us{
    @include section-padding();
}
.three-items{
    display: grid;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    .item{
        padding: 3rem 1.5rem;
        display: flex;
        flex-direction: column;
        &-icon{
            height: 70px;
            display: inline-block;
            margin: 0px auto 20px auto;
            opacity: .6;
        }
        &-description{
            font-size: 1.5rem;
            text-align: center;
            color: $color-description;
            letter-spacing: 2px;
            line-height: 2.3rem;
            font-weight: 300;
        }
    }
    .item:nth-child(2){
        border-left: 1px solid rgb(145, 145, 145);
        border-right: 1px solid rgb(145, 145, 145);
    }

}

