<section class="why-us">
    <h3 class="heading-tertiary">ZAŠTO MI ?</h3>
    <div class="container three-items">
        <app-item class="item">
            <img class="item-icon" src="../../assets/icons/running.png"/>
            <h3 class="heading-why-us">BRZI I STRUČNI</h3>
            <p class="item-description">BRZO I STRUČNO REŠAVAMO SVE PROBLEME SA STRUJOM U VASEM DOMU ILI FIRMI</p>
        </app-item>
        <app-item class="item">
            <img class="item-icon" src="../../assets/icons/warranty-icon.png"/>
            <h3 class="heading-why-us">GARANTUJEMO ZA NAŠ RAD</h3>
            <p class="item-description">GARANTUJEMO DA JE NAŠ RAD URAĐEN PROFESIONALNO</p>
        </app-item>
        <app-item class="item">
            <img class="item-icon" src="../../assets/icons/24seven.png"/>
            <h3 class="heading-why-us">DOSTUPNI 24/7</h3>
            <p class="item-description">DOSTUPNI SMO VAM U BILO KOJE DOBA DANA I NOĆI</p>
        </app-item>
    </div>
</section>