<div class="container">
    <div class="album">
        <img src="../../../../assets/gallery/image--1-md.jpg" class="album-item item-1"/>
        <img src="../../../../assets/gallery/image--3-md.jpg" class="album-item item-3"/>
        <img src="../../../../assets/gallery/image--4-md.jpg" class="album-item item-4"/>
        <img src="../../../../assets/gallery/image--5-md.jpg" class="album-item item-5"/>
        <img src="../../../../assets/gallery/image-6-lg.jpg" class="album-item item-6"/>
    </div>
</div>
