.modal {
  padding-top: 0px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0%;
  height: 100vh;
  z-index: 10000;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(10, 5, 32, 0.8);
  -webkit-transition: height .1s linear;
  transition: height .1s linear;
  overflow: hidden;
}

.show-modal {
  padding-top: 0px;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(10, 5, 32, 0.8);
  -webkit-transition: width .1s linear;
  transition: width .1s linear;
}

.hide-modal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0%;
  height: 100vh;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(10, 5, 32, 0.8);
  -webkit-transition: width .1s linear;
  transition: width .1s linear;
}

.modal-gallery {
  z-index: 1000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.big-item {
  position: relative;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 145px);
  min-height: 100px;
  background-color: #fff;
  height: calc(100vh - 135px);
}

.big-item img {
  height: 100%;
}

.item-track {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
}

.animate-in {
  -webkit-animation: animate-in .3s linear;
          animation: animate-in .3s linear;
}

.animate-out {
  -webkit-animation: animate-out .3s linear;
          animation: animate-out .3s linear;
}

@-webkit-keyframes animate-in {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-in {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes animate-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes animate-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0;
  }
}
/*# sourceMappingURL=modal.component.css.map */