.modal{
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background-color: rgba(10, 5, 32, .8);
    transition: height .1s linear;
    overflow: hidden;
}
.show-modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background-color: rgba(10, 5, 32, .8);
    transition: width .1s linear;
}
.hide-modal{
    position: fixed;
    width: 0%;
    height: 100vh;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background-color: rgba(10, 5, 32, .8);
    transition: width .1s linear;
}
