<div class="about-us">
  <div class="container">
    <h3 class="heading-tertiary">O NAMA</h3>
    <p class="info-p">
      <span  class="blixt">BLIX RADOVANOVIC</span> je firma koja se bavi servisom i ugradnjom
      električnih instalacija i uređaja kako u vašem domu tako i u vašoj firmi.
      Tim stručnih električara i tehničara telekomunikacija svakodnevno radi na
      realizaciji projekata i rešavanju problema sa strujom i njenim
      potrošačima. Poslujemo od 2016. i svakodnevno usavršavamo svoje znanje i
      gradimo iskustvo jer struja i telekomunikacije se iz dana u dan menjaju i
      usavršavaju a mi smo tu da ih ispratimo u stopu što nam polazi za rukom.
      Možemo da se pohvalimo da smo iskustvo i umeće potvrdili sa brojnim
      licencama i sertifikatima a to sve su potvrdili zadovoljni kupci. Kada nas
      pozovete u vaš dom ili firmu uverićemo vas u to.
    </p>
    <p class="info-short">
      Električarske usluge i usluge tehničara telekomunikacija su jako opširne a
      mi ćemo vam u kratkim crtama reći koje oblasti radimo.
    </p>
    <br />

    <p class="info-short">Vršimo servis i ugradnju:</p>
    <br />
    <ul class="prices-list">
      <li>Električnih i optičkih instalacija</li>
      <li>električnih uređaja</li>
      <li>rasvete i kućne galanterije</li>
      <li>sitema pametne kuće</li>
      <li>računarskih mreža i računara</li>
      <li>
        sistema tehničke zaštite
        <br />
        (video nadzor, alarm, kontrola pristupa...)
      </li>
      <li>sistema interfona</li>
      <li>audio i video sistema</li>
    </ul>
    <p  class="info-p">Tu smo da vam napravimo bezbedno i sigurno okruženje u kom će te uživati.</p>
    <p class="info-short">Usluge vršimo na teritoriji cele Srbije a po potrebi i van granica Srbije.
    Dostupni smo 24 sata 7 dana u nedelji za sve vaše zahteve jer smo svesni da
    je bez struje danas jako teško funkcionisati.</p>
    <p class="info-p">Ukoliko imate potrebu za bilo kojom hitnom intervencijom dolazimo po pozivu bez odlaganja. Za sve naše
    usluge dobijate garanciju.</p> <q class="info-warn">Sa strujom se jednom greši</q><span class="info-p">- su reči iskusnih
    električara jer na žalost ima mnogo slučajeva da su ljudi oklevali da pozovu
    majstora jer su mislili da to nije ništa teško i opasno ali nekad ume da se
    zakomplikuje pa da cena majstora bude i ljudski život što ne želimo da bilo
    kome desi. Tu smo da vam realizujemo postojeće projekte ili da kreiramo
    projekat po vašoj želji i isti realizujemo.</span><br>

    <h3 class="heading-tertiary mt-10">INTERVENCIJE ISTI DAN</h3>

    <p>Sigurno vam se nekada desilo da imate problem sa električnom instalacijom ili
        električnim uređajem baš u momentu kad vam je preko potrebna upotreba istog.U tim
        situacijam je bitno da se što pre i na najbolji mogući način ukloni smetnja i nastavi sa
        radom. Za sve hitne intervencije možete pozvati nas i u što kraćem roku bićemo na
        adresi da ustanovimo kvar i isti otklonimo ako uslovi dozvoljavaju. Ako ne želite da se
        problem proširi i ostavi veće posledice treba intervenisati što pre. Da bi izbegli
        posledice koje nekad idu do cene ljudskog života budite slobodni i pozovite u pomoć
        <span class="blixt">BLIXT RADOVANOVIC</span>. <span class="info-warn">Vama smo na usluzi 24 časa 7 dana u nedelji čak i
            praznicima.</span></p>

  </div>
</div>
